.screen{
    margin :0;
    padding: 0;
}
body{
    margin :0;
    background-color: rgb(23, 86, 116);
    color: white;
    font-family: Noto sans;
}
header{
    padding: 10px;
}
header >nav>a:hover{
    background-color: rgb(13, 106, 134);
    color:white;
}
a{
    text-decoration: none;
    color: rgb(20, 144, 182);
    justify-content: space-between;
    

}

.screen{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    
}

.screen input{
    margin: 10px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 8px;
  
}
.screen button{
    
    margin: 10px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(35deg,rgb(13, 138, 160),rgb(40, 241, 255));
    box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.548);
    color: rgb(245, 245, 245);
}
button:hover{
    background: linear-gradient(35deg,rgb(13, 138, 160),rgb(19, 190, 202));
}
button:active{
    background: linear-gradient(35deg,rgb(13, 138, 160),rgb(40, 241, 255));
}
.screen2{
    padding: 10px;
    border-radius: 23px;
    background-color: rgb(47, 133, 145);
    box-shadow: 0px 10px 40px rgb(21, 54, 58);
}
.val{
    display:flex;
}
.resultados_Calc{
    text-align: center;
    
}
@media screen and (max-width:993px) {
    .screen2{
        width: 80vw;
    }
    .val{
        flex-direction: column;
    }
    button{
        width: 5cm;
        background: linear-gradient(35deg,rgb(13, 138, 160),rgb(40, 241, 255));
        color: white;
        box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.548);
    }
    .resultados_Calc{
        transition: all 30s ease-out;
    }
}